

<p>
  <%= form_for @task, url: task_list_tasks_path , html: {method: "patch"} do |f| %>
      <%= f.label "Edit Task Name" %>
      <%= f.text_field :name %>
      <%= f.submit 'Update Task Name' %>
  <% end %>
</p>